[Unit]
Description=OpenVPN client service
After=network.target auditd.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/openvpn --config /etc/openvpn/server/konfigurazioa.conf

[Install]
WantedBy=multi-user.target
